body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2c7400;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #48ff00;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 97%;
    padding: 9px;
    margin-bottom: 20px;
    
}

button {
    background-color: #ffffff;
    color: #000000;
    border-color: black;
    box-shadow: 0 0 20px #183f00;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  
}

button:hover {
    background-color: #45a049;
}

#weatherInfo {
    margin-top: 20px;
}
